#exercise-meta
  transform: translate3d(0%, 0, 0)
  width: 200%
  transition: transform .25s ease-out
  &.view-exercise-description-view
    transform: translate3d(-50%, 0, 0)
.exercise-meta-view
  width: 50%
  float: left
  box-sizing: border-box
