#exercise-workout-view
  position: absolute
  background: #3b3b3b
  width: 100%
  height: 100%
  transform: translate3d(0,100%,0)
  transition: transform .17s ease-out
  padding: 0 20px
  box-sizing: border-box
