#exercise-list
  position: relative
  transform: translate3d(0,0%,0)
  transition: transform .2s ease-out, opacity .2s
  
  ul
    list-style-type: none
    padding: 0
    margin: 0

  h1, p
    text-align: center

  h1
    font-weight: 300
  &.open
    transform: translate3d(0,0,0)
  &.closed
    transform: translate3d(-100%,0,0)

  .exercise-item
    text-align: left
    padding: 0
    position: relative
    cursor: pointer

    .exercise-item-number
      font-size: 25px
      padding: 20px 25px
      display: inline-block
      min-width: 30px
      text-align: center
      margin-right: 10px

    .exercise-item-arrow
      position: absolute
      right: 0
      padding-right: 5px
      font-size: 30px
      top: 50%
      transform: translateY(-50%)

for key in colorList
  .{key}
    background-color: colorList[key].color
    .exercise-item-number
      background-color: colorList[key].numColor
