#exercise-description
  width: 100%
  position: absolute
  top: 0
  left: 100%
  padding: 20px
  box-sizing: border-box
  float:left
    
  .exercise-description-close
    cursor: pointer
    display: inline-block
    background-color: #D15419
    border-radius: 10px
    width: 20px
    height: 20px
    text-align: center
    line-height: 22px
    top: 40px
    position: absolute
    right: 20px
