#exercise-container
  transform: translateX(0%)
  transition:transform .2s ease-out
  position:absolute
  width: 100%
  
.view-exercise-list
  #exercise-container
    transform: translateX(0%)

.view-exercise-description
  #exercise-container
    transform: translateX(-100%)
