@import "components/_app-container"
@import "components/_exercise-meta"
@import "components/_workout"
@import "components/_exercise-list"
@import "components/_exercise-description"

body
  margin: 0
  font-family: sans-serif
  background-color: #E47E30
  color: #fff
