@import "components/_colors"
@import "components/_app-container"
@import "components/_exercise-meta"
@import "components/_workout"
@import "components/_exercise-list"
@import "components/_exercise-description"

body
  margin: 0
  font-family: 'Open Sans', sans-serif
  background-color: #E47E30
  color: #fff

button
  border: none
  font-family: 'Open Sans', sans-serif
  font-size: 16px
  border-radius: 2px
  color: #fff
  display: block
  margin: 0 auto
  width: 50%
  padding: 10px
  cursor: pointer

.start-btn
  margin-top: 20px
  margin-bottom: 20px
  background-color: #d35400
