@import "_exercise-container"
@import "_exercise-description"
@import "_exercise-list"
@import "_exercise-workout"
@import "_container"

body
  margin: 0
  font-family: sans-serif
  background-color: #E47E30
  color: #fff
